*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 width: 90%;
 font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 100%;
    display: flex;
    vertical-align: auto;
    align-items: center;
    justify-content: space-between  ;
}

.contenedor {
    width: 500px;
    margin: 150px auto;
    position: relative;
    overflow: hidden;
}

.contenedor img {
    width: 100%;
    height: auto;
    transition: all 0.5s;
}

.contenedor:hover img {
    transform: scale(1.09);
}

.contenedor .content {
    background: rgba( 0, 0, 0, 0.7);
    position: absolute;
    top: -100%;
    left: 0;
    text-align: justify;
    height: 100%;
    color: #fff;
    box-sizing: border-box;
}

.content h3 {
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid #808080;
    padding: 0 10px 20px 10px;    
}

.content p {
    padding: 0px 20px 15px 20px;
    border-bottom: 1px solid #808080;
}

.contenedor:hover .content {
    top: 0;
}